<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>Angular example - Step 5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <link   rel="stylesheet"       href="css/bootstrap.min.css">
    <link   rel="stylesheet"       href="css/bootstrap-theme.min.css">
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container" ng-app="myApp" ng-controller="ctrl1">
      <div class="jumbotron">
        <h1>Angular example - Step 5</h1>
        <p>Choose the data to display !</p> 
      </div>
      <div class="col-sm-6 form-group">
        <label for="max_uptime">Max Uptime:</label>
        <input type="text" class="form-control" id="max_uptime" ng-model="maxUptime">
      </div>
      <div class="col-sm-6 form-group">
        <label for="search">Search:</label>
        <input type="text" class="form-control" id="search" ng-model="search">
      </div>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th ng-repeat="header in headers" ng-click="sortBy(header)">{{header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="server in servers | orderBy:propertyName:reverse" ng-class="getClass(server.Uptime)" ng-show="isVisible(server)">
            <td ng-repeat="header in headers">{{server[header]}}</td>
          </tr>
        </tbody>
	  </table>
    </div>
    <script type="text/javascript" src="js/scripts.js"></script>
  </body>
</html>

