<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>Angular example - Step 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <link   rel="stylesheet"       href="css/bootstrap.min.css">
    <link   rel="stylesheet"       href="css/bootstrap-theme.min.css">
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container" ng-app="myApp" ng-controller="ctrl1">
      <div class="jumbotron">
        <h1>Angular example - Step 1</h1>
        <p>Embedded data !</p> 
      </div>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Uptime</th>
            <th>OS</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="server in servers | orderBy:'Name'">
            <td>{{server.Name}}</td>
            <td>{{server.Uptime}}</td>
            <td>{{server.OS}}</td>
          </tr>
        </tbody>
	  </table>
    </div>
    <script type="text/javascript" src="js/scripts.js"></script>
  </body>
</html>

